* {
  margin: 0;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

section {
  height: 100%;
  width: 100%;
}

main {
  height: 90%;
  width: 100%;
}

.instagram-logo {
  width: 75%;
}

.content-box {
  width: 375px;
  margin: auto;
}

.top-box {
  height: 100%;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.top-box input {
  width: 70%;
  padding: 10px 5px;
  margin-bottom: 6px;
  font-size: 14px;
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-sizing: border-box;
}

.top-box input:nth-child(3) {
  margin: 8px 0 25px;
  background-color: #b2dffc;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 700;
}

.top-box a {
  display: block;
  margin-top: 40px;
  color: navy;
  font-weight: 500;
}

.top-box a:nth-of-type(2) {
  margin-top: 15px;
  font-size: 13px;
}

hr {
  margin: 0;
  width: 70%;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.top-box p {
  margin: -10px;
}
.top-box p span {
  background: white;
  color: grey;
  padding: 0 15px;
  font-size: 14px;
}

.store-logos {
  width: 3%;
}

footer {
  height: 20%;
  width: 100%;
  background-color: white;
}
